:root {
  letter-spacing: 2px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}


button {
  font-weight: bold;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

